.card {
  /* height: 336px; */
  background-color: var(--card-bg, #fff);
  border-radius: 5px;
  max-width: 320px;
  width: 100%;

  & .flag {
    /* height: 160px; */
    aspect-ratio: 264 / 160;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
  }

  & .text {
    padding: 24px;
    min-height: 176px;

    & .title {
      margin-top: 0;
      font-size: 18px;
      font-weight: 800;
    }

    & .info {
      margin-top: 16px;
      font-size: 14px;
      > * { margin-top: 8px; }
      & strong { font-weight: 600; }
    }
  }

  @media (prefers-color-scheme: dark) {
    --card-bg: var(--color-dark-blue);
  }
}
