.select {
  width: 200px;
  height: var(--fluid-48-56);
  font-size: var(--fluid-12-14);
  user-select: none;
  --shadow: 0 2px 9px rgb(0 0 0 / 5.32%);

  & .toggle-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-inline: 24px 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--select-bg, #fff);
    box-shadow: var(--shadow);

    &:where(:hover, [aria-expanded="true"]) {
      --shadow: 0 2px 19px 2px rgb(0 0 0 / 15.32%);
    }

    &[aria-expanded="true"] .icon-expand {
      transform: rotateZ(180deg);
    }
  }

  & .clear {
    background-color: transparent;
    display: flex;
    padding: .5em;
    color: var(--color-text);
    margin-inline: auto 4px;
    border-radius: 999em;
  }

  & .menu:not(:empty) {
    border-radius: 5px;
    padding: 12px 0;
    margin-block: 4px 0;
    background-color: var(--select-bg, #fff);
    list-style: none;
    position: relative;
    box-shadow: var(--shadow);

    > * {
      padding: 4px 24px;
      font-weight: 800;
    }
  }
}
