.theme-switch {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--fluid-12-16);
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
  color: var(--color-text);
}
