.button {
  @apply rounded inline-flex items-center gap-2.5 dark:bg-dark-tint;
  padding: 0.5em 1.75em;
  box-shadow:
    0 0 6px -1px rgb(0 0 0 / 0.5),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: box-shadow 120ms ease-out;
}

.button:hover {
  box-shadow:
    0 0 15px -3px rgb(0 0 0 / 0.4),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.button:active {
  @apply shadow-inner;
}
