.button {
  @apply rounded;
  padding: 0.5em 1.75em;
  box-shadow:
    0 0 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.button:hover {
  transition: box-shadow 150ms ease-out;
  box-shadow:
    0 0 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.button:active {
  @apply shadow-inner;
}
