.card {
  @apply dark:bg-dark-tint;
  --border-radius: 0.375rem;
  border-radius: var(--border-radius);
  box-shadow:
    0 0 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: hidden;
  height: 100%;
  max-inline-size: 328px;
  transition: transform 140ms cubic-bezier(0.44, 0.19, 0, 0.74);
}

.card .flag > img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card .flag {
  --n: 33;
  --d: 20;
  @apply shadow-sm;
}

.card .text {
  --flow-space: 0.25rem;
  @apply text-sm p-6;
}

.card .text > :first-child {
  @apply text-lg leading-tight mb-4;
}

/* Hover/focus styles */

.card:hover {
  box-shadow: 0 0 0 0.25rem;
}

.card a:focus {
  text-decoration: underline;
}

.card:focus-within {
  box-shadow: 0 0 0 0.25rem;
  transform: scale(1.05);
}

.card:focus-within a:focus {
  text-decoration: none;
  outline: none;
}
