.searchbox {
  --space-x: 1.875rem;
  --space-y: 1.125rem;
  --icon-size: 1.375rem;
  --gap: 1.375rem;
  position: relative;
  max-inline-size: 480px;
  flex-grow: 1;
  @apply text-sm;
}

.searchbox > :first-child,
.searchbox > :last-child {
  @apply text-inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--icon-size);
  height: var(--icon-size);
}

.searchbox > :first-child {
  left: var(--space-x);
}

.searchbox > :last-child {
  right: var(--space-x);
}

.searchbox > :last-child svg {
  transform: translateY(-1px); /* optical adjustment */
}

.searchbox input {
  letter-spacing: calc(0.14 / 16 * 1rem);
  padding-inline-start: calc(
    var(--icon-size) + var(--space-x) + var(--gap, var(--space-y))
  );
  padding-inline-end: calc(var(--icon-size) + var(--space-x) + 0.5rem);
}
