.searchbox {
  --space-x: 1.875rem;
  --space-y: 1.125rem;
  --icon-size: 1.375rem;
  --gap: 1.375rem;
  position: relative;
  max-inline-size: 480px;
  flex-grow: 1;
  @apply text-sm;
}

.searchbox svg {
  @apply text-light-shade;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--space-x);
  width: var(--icon-size);
  height: var(--icon-size);
}

.searchbox input {
  @apply rounded-md;
  letter-spacing: calc(0.14 / 16 * 1rem);
  padding: var(--space-y) var(--space-x);
  padding-inline-start: calc(
    var(--icon-size) + var(--space-x) + var(--gap, var(--space-y))
  );
  inline-size: 100%;
  box-shadow:
    0 0 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
